.menu_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding: 0;
}

.menu_item_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.menu_item {
  width: 100%;
  padding: 16px;
  font-size: 16px;
  text-align: center;
  user-select: none;
  transition: background-color 0.15s ease, transform 0.15s ease, opacity 0.15s ease;
  -webkit-tap-highlight-color: transparent;
}

.menu_item:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.menu_item:active {
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(0.98);
  opacity: 0.9;
}

.menu_divider {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}

