.grammar_block {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  text-align: left;
  align-self: flex-start;
  display: block;
  outline: 2px solid red;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.grammar_block > div {
  width: 100%;
  text-align: left;
  display: block;
  margin: 0;
  padding: 0;
}

