.lemma_link {
  display: block;
  text-decoration: underline;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  text-align: left;
  width: 100%;
}

.lemma_link:hover {
  background: transparent;
}

