.dictionary_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  width: 100%;
  height: 100%;
  padding: 24px;
}

.welcome_text {
  font-size: 24px;
  text-align: center;
}

